@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --primary-color: #ffffff;
    --secondary-color: #131515;
    --accent1-color: #206459;
    --accent2-color: #7DE2D1;

    --heading-font: 'Open Sans', sans;
    --paragraph-font: 'Open Sans', sans;

    --nav-background-color: #206459;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #206459;
    --nav-hover-background-color: #ffffff;
  }

* {
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    max-width: 2000px;
    padding: 25px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

/* Header */

header {
    display: grid;
    grid-template-columns: 400px 1fr;
	max-width: 2000px;
    background-color: var(--accent1-color);
    align-items: center;
    margin-bottom: 1.5rem;
}

header img {
    grid-column: 1 / 2;
    height: auto;
    justify-self: center;
}

.top-nav {
    display: flex;
    justify-content: space-evenly;
}

.top-nav a{
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 25px;
    grid-column: 2 / 3;
    padding: 1em;
}

.top-nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/* Header */ 

/* Body/Main */

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    font-size: 30px;
    top: 110px;
    color: rgb(255, 255, 255, .9);
    padding: 2rem;
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    text-align: center;
}

.client {
    width: 250px;
    float: right;
} /*I put this because I needed to specify what image, even I added a <fig> element*/

article {
    position: absolute;
    padding: 1rem;
    background-color:rgba(0, 0, 0, 0.4);
    top: 350px;
    left: 150px;
    right: 150px;
}

article p {
    color: rgb(255, 255, 255);
    font-size: 22px;
    padding-left: 20px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* HISTORY */ 

.history {
    background-color: rgb(236, 236, 236);
    max-width: 2000px;
    padding: 25px;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.history h2 {
    text-align: center;
    grid-column: 1/4;
    grid-row: 1;
    font-size: 40px;
    color: var(--accent1-color);
}

.hst1 {
    grid-column: 1 / 2;
    grid-row: 2;
    margin-left: 40px;
}

.hst2 {
    grid-column: 3;
    grid-row: 2;
    max-width: 450px;
}

.history img{
    justify-self: center;
    grid-column: 2 / 3;
    grid-row: 2;
}

/* ADVENTURE */ 

.adventure {
    background-color: rgb(236, 236, 236);
    max-width: 2000px;
    padding: 25px;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.adventure h2 {
    text-align: center;
    grid-column: 1/6;
    grid-row: 1;
    font-size: 40px;
    color: var(--accent1-color);
}

.fig1 {
    grid-column: 1 / 2;
}

.about {
    text-align: center;
    margin-top: .5rem;
    color: black;
}

/* ADVENTURE */ 

/* ADRESS AND MAP */

.information {
    display: grid;
    grid-template-columns: 250px 350px 135px 120px 400px 1fr;
    background-color: rgb(32, 100, 89, .8);
    padding: 2rem;
}

.title {
    color: var(--primary-color);
    padding: .5rem;
    grid-column: 1 / 7;
    text-align: center;
}

h2, .text, address {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: left;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

.text, address  {
    text-align: left;
    margin-top: 2.5rem;
    margin-left: .5rem;
    grid-column: 2 / 4;
    font-size: 18px;
} 

address, a {
    color: var(--primary-color);
    text-decoration: none;
    font-style: normal;
}

.map {
    grid-column: 5 / 7;
    justify-items: left;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* OUR STAFF */ 

.staff {
    background-color: rgb(32, 100, 89, .8);
    max-width: 2000px;
    padding: 3rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.subtitle {
    text-align: center;
    grid-column: 1/5;
    grid-row: 1;
    color: var(--primary-color);
    margin-bottom: 3rem;
}

fig1 {
    grid-column: 1 / 2;
    grid-row: 2;
}

fig2 {
    grid-column: 3;
    grid-row: 2;
}

fig3 {
    grid-column: 4;
    grid-row: 2;
}

fig4 {
    grid-column: 4;
    grid-row: 2;
}

figcaption {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    margin-top: .5rem;
}

/* FORM */ 

.bottom {
    display: grid;
    margin-top: 2rem;
    background-color: rgb(32, 100, 89, .8);
    padding: 4rem;
    grid-template-columns: 700px 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.phrase, .call-to-action {
    color: var(--primary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    grid-column: 1 / 2;
    font-size: 45px;
    max-width: 500px ;
    text-align: center;
}

form {
    width: 550px;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: rgb(255, 255, 255, .9);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    color: var(--accent1-color);
}

label {
    padding-top: 1rem;
    padding-bottom: .8rem;
}

input, textarea {
    padding: .5rem;
    font-size: 1.1rem;
}

.number {
    font-size: 1.25em;
    color: var(--accent1-color);
    font-weight: 700;
}

.align  {
    display: flex;
    margin-left: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: center;
    margin-left: 1rem;
}

input[type="radio"] {
    margin-right: 1.5rem;
}

.send-form {
    background-color: rgb(32, 100, 89, .8);
    color: var(--primary-color);
    font-size: 25px;
    border: none;
    border-radius: .5rem;
    padding: 1.5rem;
    font-family: sans-serif;
    width: 100%;
    margin-top: 1rem;
}

.send-form:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* FORM */

/* TRIPS WEBSITE */

/* TITLE */

.trips-title {
    text-align: center;
    padding-top: 1.5rem;
    font-size: 20px;
}

/* TRIPS BLOCK */

.trips{
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.description-left {
    grid-column: 1 / 2;
    font-size: 25px;
    padding: 2rem;
    text-align: center;
    align-self: center;
}

.route-right img {
    width: 600px;
    height: auto;
    padding: 2rem 2rem 0 2rem;
    align-items: center;
    justify-items: center;
    border-bottom: 1px;
    border-color: black;
}

.caption-trips, .duration-right{
    color: black;
    text-align: center;
    display: block;
}

.duration-right {
    color: var(--accent1-color);
    font-size: 20px;
    margin-top: .5rem;
}

.route-left1 img {
    width: 600px;
    height: auto;
    grid-row: 2 / 3;
    padding: 2rem 2rem 0 2rem;
    align-items: center;
    justify-items: center;
}

.description-right1 {
    grid-column: 2 / 3;
    grid-row: 2;
    font-size: 25px;
    padding: 2rem;
    text-align: center;
    align-self: center;
}

.description-right2 {
    grid-column: 2 / 3;
    grid-row: 4;
    font-size: 25px;
    padding: 2rem;
    text-align: center;
    align-self: center;
}

.route-left2 img {
    width: 600px;
    height: auto;
    grid-row: 5 / 6;
    padding: 2rem 2rem 0 2rem;
    align-items: center;
    justify-items: center;
}

.duration-left{
    color: var(--accent1-color);
    text-align: center;
    font-size: 20px;
    display: block;
    margin-top: .5rem;
}

.trips-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.link-to-contact-us { /* I put this appart of the last button on contact.html because in contact.hmtl button there is a margin-top, but here I dont need that margin-top*/
    background-color: rgb(32, 100, 89, .8);
    color: var(--primary-color);
    font-size: 25px;
    border: none;
    border-radius: 4rem;
    padding: 1.5rem;
    font-family: sans-serif;
    width: 100%; 
    grid-column: 3 / 5;
    text-align: center;
}

.link-to-contact-us:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.first-line {
    width: auto;
    height: 1400px;
    grid-column: 1 / -1;
    transform: rotate(90deg);
    position: absolute;
    justify-self: center;
    top: 155px;
}

.second-line {
    width: auto;
    height: 1400px;
    grid-column: 1 / -1;
    transform: rotate(90deg);
    position: absolute;
    justify-self: center;
    top: 645px;
}

.third-line {
    width: auto;
    height: 1400px;
    grid-column: 1 / -1;
    transform: rotate(90deg);
    position: absolute;
    justify-self: center;
    top: 1180px;
}

/* TRIPS WEBSITE */

/* HOME PAGE */

/* BIG BACKGROUND */

.teaser {
    position: relative;
}

.teaser img {
    display: block;
    width: 100%;
    height: auto;
    filter: brightness(70%);
}

/* BIG BACKGROUND */

/* TITLE */

.teaser-title1 {
    position: absolute;
    font-size: 90px;
    top: 80px;
    left: 220px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 900;
    text-shadow: 3px 3px 3px 0px #333;
}

.teaser-title2 {
    position: absolute;
    font-size: 90px;
    top: 270px;
    left: 220px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 900;
    text-shadow: 3px 3px 3px 0px #333;
}

.teaser-title3 {
    position: absolute;
    font-size: 90px;
    top: 460px;
    left: 220px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 900;
    text-shadow: 3px 3px 3px 0px #333;
}

.best {
    position: absolute;
    font-size: 32px;
    top: 680px;
    left: 220px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 900;
    text-shadow: 3px 3px 3px 0px #333;
}

/* C.T.A BUTTON */

.link-to-trips {
    color: var(--secondary-color);
}
.trips-button-home-page {
    position: absolute;
    font-size: 30px;
    top: 689px;
    left: 900px;
    background-color: var(--primary-color);
    opacity: 75%;
    padding: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 3rem;
}

.trips-button-home-page:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color); /* QUESTION: Why when I put the mouse over the button, the color not changes */
}

/* C.T.A BUTTON */

/* PURPOSE AND OFFERINGS */

.purpose-offerings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.purpose img{
    width: 650px;
    grid-column: 1;
    padding-left: 2.5rem;
}

.purpose-text {
    text-align: justify;
    grid-column: 1;
    grid-row: 2;
    max-width: 750px;
    padding-right: 2.5rem;
    padding-left: 5rem;
    font-size: 20px;
    word-spacing: 10px;
}

.offerings img {
    width: 550px;
    height: 345px;
    grid-column: 2;
    grid-row: 1;
}

.offerings-text {
    text-align: justify;
    grid-column: 2;
    grid-row: 2;
    max-width: 750px;
    font-size: 20px;
    word-spacing: 10px;
    margin: 0;
    padding-right: 4.5rem;
    padding-left: 4.5rem;
}

/* PURPOSE AND OFFERINGS */ 

/* EXPERIENCES */ 

.experiences-form {
    display: grid;
    grid-template-columns:  200px 350px 150px 1fr;
    padding-left: 2.5rem;
    justify-items: center;
    align-items: center;
}

.evan-image {
    width: 200px;
    height: auto;
    grid-column: 1;
    padding-bottom: .5rem;
    padding-top: .5rem;
    align-self: center;
    justify-self: center;
}

.evan-opinion {
    padding: 1.5rem;
    grid-column: 2 / 4;
    align-self: center;
    justify-self: center;
    padding-bottom: 3rem;
    font-size: 20px;
    text-align: justify;
}

.evan {
    color: black;
    text-align: center;
    font-size: 20px;
    margin-top: 0;
}

.nacha-image{ /*LA FOTO NO SE ACOMODA */
    width: 200px;
    height: auto;
    grid-column: 1;
    grid-row: 3 / 4;
    padding-bottom: .5rem;
    padding-top: .5rem;
    align-self: center;
    justify-self: center;
}

.nacha-opinion {
    padding: 1rem;
    grid-column: 2 / 4;
    align-self: center;
    justify-self: center;
    font-size: 20px;
}

.nacha {
    color: black;
    text-align: center;
    font-size: 20px;
    margin-top: 0;
}

.sam-image{
    width: 200px;
    height: auto;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.sam-opinion {
    padding: 1rem;
    grid-column: 2 / 4;
    align-self: center;
    justify-self: center;
    font-size: 18.5px;
}

.sam {
    color: black;
    text-align: center;
    font-size: 20px;
    margin-top: 0;
}

/* EXPERIENCES */

/* FORM index.html PAGE */

.form-home-page {
    /* grid-row: 1 / -1; */
    grid-row: 1 / 5;
    grid-column: 4;
}

.sign-up-message {
    text-align: center;
    font-size: 30px;
    word-spacing: 10px;
    margin: 1rem;
}

.form-home {
    width: 550px;
    grid-row: 1 / -1;
    font-size: 25px;
    background-color: rgb(128, 128, 128, 0.1);
}

.logo-form {
    width: 150px;
    justify-self: center;
    align-self: center;
}

.sign-up {
    font-size: 20px;
    padding: 1rem;
    border: none;
    border-radius: 3rem;
    margin-top: 2rem;
    background-color: var(--accent1-color);
    color: var(--primary-color);
}

.sign-up:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* FORM index.html PAGE */

/* FOOTER */

footer {
    display: grid;
    padding: 1.5rem;
    background-color: var(--nav-background-color);
    margin-top: 2.5rem;
    grid-template-columns: 350px 1fr 400px;
}

.sociallinks {
    display: flex;
    text-decoration: none;
    grid-column: 5;
    justify-content: center;
    align-items: center;
}

.sociallinks a{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.wireframe05 { /* Only will added for the Wireframe photo */
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1;
    text-align: center;
    align-items: center;
    font-size: 19px;
}

.wireframe06 { /* Only will added for the Wireframe photo */
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1;
    text-align: center;
    align-items: center;
    font-size: 19px;
}

.wireframe07 { /* Only will added for the Wireframe photo */
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1;
    text-align: center;
    align-items: center;
    font-size: 19px;
}

.copyright {
    grid-column: 2 / 5 ;
    grid-row: 1;
    text-align: center;
    justify-items: center;
    color: var(--primary-color);
    font-size: 20px;
}