.callout {
	max-width: 400px;
    margin: 10px;
    border: 1px white;
    padding: 15px;
    background-color: blue;
    color: white;
}

.callout img {
	float: right;
    margin: 10px 10px 10px 15px;
    border: 1px solid #000;
    padding: 3px;
    background-color: #bbb;
    width: 100px;
    height: auto;
}

blockquote {
	margin: 10px;
}

cite {
	display: block;
    border-top: 1px dotted #fff;
    padding-top: 3px;
    text-align: right;
    font-size: smaller;
}